 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 829px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 215px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 574px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-family: Allan;
  font-size: 0.875rem;
  font-weight: normal;
  margin: 225px 18px 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 285px;
  background-image: linear-gradient(to right, #ff0c17, black);
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 30px 0;
}

.u-section-1 .u-icon-1 {
  width: 50px;
  height: 50px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 12px;
}

.u-section-1 .u-text-2 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 19px 118px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 285px;
  background-image: linear-gradient(to right, #ff0c17, black);
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-5 {
  margin: 20px 1px 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 285px;
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-6 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.u-section-1 .u-text-7 {
  margin: 20px 1px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 576px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 473px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 24px;
    margin-left: 24px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 255px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 235px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 235px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 299px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 730px;
  }

  .u-section-1 .u-text-1 {
    width: 117px;
    margin-top: 268px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 280px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 2px;
    padding-bottom: 2px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 15px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 13px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 24px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 499px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 414px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: 312px;
    margin-top: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 156px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
  }
}