.u-section-1 .u-sheet-1 {
  min-height: 1349px;
}

.u-section-1 .u-text-1 {
  margin: 190px 770px 0 0;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  min-height: 529px;
  grid-gap: 0px 0px;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px 14px;
}

.u-section-1 .u-image-1 {
  height: 219px;
  width: 240px;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  margin: 8px 25px 0;
}

.u-section-1 .u-text-3 {
  margin: 35px 24px 0 8px;
}

.u-section-1 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 41px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px 14px;
}

.u-section-1 .u-image-2 {
  height: 219px;
  width: 240px;
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  margin: 8px 25px 0;
}

.u-section-1 .u-text-5 {
  margin: 35px 24px 0 8px;
}

.u-section-1 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 41px auto 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 20px 14px;
}

.u-section-1 .u-image-3 {
  height: 219px;
  width: 240px;
  margin: 0 auto;
}

.u-section-1 .u-text-6 {
  margin: 8px 25px 0;
}

.u-section-1 .u-text-7 {
  margin: 35px 24px 0 8px;
}

.u-section-1 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 41px auto 0;
}

.u-section-1 .u-list-2 {
  grid-template-rows: auto;
  margin-top: 0;
  margin-bottom: 8px;
}

.u-section-1 .u-repeater-2 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  min-height: 536px;
  grid-gap: 0px 0px;
}

.u-section-1 .u-container-layout-4 {
  padding: 20px 14px;
}

.u-section-1 .u-image-4 {
  height: 219px;
  width: 240px;
  margin: 0 auto;
}

.u-section-1 .u-text-8 {
  margin: 10px auto 0;
}

.u-section-1 .u-text-9 {
  margin: 30px 16px 0;
}

.u-section-1 .u-btn-4 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 25px auto 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 20px 14px;
}

.u-section-1 .u-image-5 {
  height: 219px;
  width: 240px;
  margin: 0 auto;
}

.u-section-1 .u-text-10 {
  margin: 10px auto 0;
}

.u-section-1 .u-text-11 {
  margin: 30px 16px 0;
}

.u-section-1 .u-btn-5 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 25px auto 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 20px 14px;
}

.u-section-1 .u-image-6 {
  height: 219px;
  width: 240px;
  margin: 0 auto;
}

.u-section-1 .u-text-12 {
  margin: 10px auto 0;
}

.u-section-1 .u-text-13 {
  margin: 30px 16px 0;
}

.u-section-1 .u-btn-6 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 25px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 570px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 490px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    padding: 2px 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    padding: 2px 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    padding: 2px 0;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 442px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 350px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 50% 50%;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: repeat(2, 50%);
    min-height: 1016px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 170px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 570px;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 570px;
  grid-gap: 0px 0px;
}

.u-section-2 .u-container-layout-1 {
  padding: 17px 14px;
}

.u-section-2 .u-image-1 {
  height: 219px;
  width: 240px;
  object-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  margin: 25px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 15px 16px 0;
}

.u-section-2 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 25px auto 0;
}

.u-section-2 .u-btn-2 {
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 47px auto 0;
  padding: 0;
}

.u-section-2 .u-icon-1 {
  margin-right: 0;
  vertical-align: -2px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    height: auto;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 50% 50%;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}