.u-section-1 .u-sheet-1 {
  min-height: 1124px;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  width: 817px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 20px auto 0;
}

.u-section-1 .u-table-1 {
  width: 100%;
  margin: 39px 0 0;
}

.u-block-b69f-4 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.u-block-b69f-59 {
  font-weight: 700;
  background-image: none;
}

.u-block-b69f-60 {
  font-weight: 700;
  background-image: none;
}

.u-block-b69f-61 {
  font-weight: 700;
  background-image: none;
}

.u-block-b69f-64 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-body-1 {
  font-size: 1rem;
}

.u-section-1 .u-table-cell-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
}

.u-section-1 .u-table-cell-2 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
}

.u-section-1 .u-table-cell-3 {
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
}

.u-section-1 .u-table-cell-4 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
}

.u-section-1 .u-table-cell-5 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
}

.u-section-1 .u-table-cell-6 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-7 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-8 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-9 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-11 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-12 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-13 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-14 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-16 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-17 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-18 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-19 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-21 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-22 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-23 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-24 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-26 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-27 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-28 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-29 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-30 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-31 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-32 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-33 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-34 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-35 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-36 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-37 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-38 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-39 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-40 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-41 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-42 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-43 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-44 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-45 {
  font-weight: 700;
}

.u-block-b69f-35 {
  background-image: none;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-style: solid;
  font-size: 0.875rem;
  margin: -284px 43px 0 auto;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-style: solid;
  font-size: 0.875rem;
  margin: 31px 43px 0 auto;
}

.u-section-1 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-style: solid;
  font-size: 0.875rem;
  margin: 31px 43px 0 auto;
}

.u-section-1 .u-btn-4 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-style: solid;
  font-size: 0.875rem;
  margin: 31px 43px 0 auto;
}

.u-section-1 .u-btn-5 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-style: solid;
  font-size: 0.875rem;
  margin: -344px 43px 0 auto;
}

.u-section-1 .u-btn-6 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-style: solid;
  font-size: 0.875rem;
  margin: -119px 43px 0 auto;
}

.u-section-1 .u-btn-7 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-style: solid;
  font-size: 0.875rem;
  margin: -119px 43px 0 auto;
}

.u-section-1 .u-btn-8 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-style: solid;
  font-size: 0.875rem;
  margin: -119px 43px 0 auto;
}

.u-section-1 .u-btn-9 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
  border-style: none;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 581px auto 60px;
  padding: 16px 52px 16px 51px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-7 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-8 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    width: 720px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -283px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: -345px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -330px;
    margin-right: 1px;
    padding: 10px 17px 10px 16px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 40px;
    padding: 10px 17px 10px 16px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 45px;
    padding: 10px 17px 10px 16px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 48px;
    padding: 10px 18px 10px 16px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: -397px;
    padding: 10px 18px 10px 16px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: -114px;
    padding: 10px 17px 10px 16px;
  }

  .u-section-1 .u-btn-7 {
    margin-top: -133px;
    padding: 10px 17px 10px 16px;
  }

  .u-section-1 .u-btn-8 {
    margin-top: -135px;
    padding: 10px 18px 10px 16px;
  }

  .u-section-1 .u-btn-9 {
    margin-top: 664px;
    margin-bottom: 15px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1142px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-table-body-1 {
    font-size: 0.625rem;
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.625rem;
    margin-top: -281px;
    margin-right: 4px;
    padding-top: 9px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-btn-2 {
    font-size: 0.625rem;
    margin-top: 39px;
    margin-right: 4px;
    padding-top: 9px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-btn-3 {
    font-size: 0.625rem;
    margin-top: 39px;
    margin-right: 4px;
    padding-top: 9px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-btn-4 {
    font-size: 0.625rem;
    margin-top: 42px;
    margin-right: 4px;
    padding-top: 9px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-btn-5 {
    font-size: 0.625rem;
    margin-top: -344px;
    margin-right: 4px;
    padding-top: 9px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-btn-6 {
    font-size: 0.625rem;
    margin-top: -106px;
    margin-right: 4px;
    padding-top: 9px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-btn-7 {
    font-size: 0.625rem;
    margin-top: -114px;
    margin-right: 4px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-btn-8 {
    font-size: 0.625rem;
    margin-top: -115px;
    margin-right: 4px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-btn-9 {
    font-size: 0.75rem;
    margin-top: 561px;
    margin-bottom: 60px;
    padding: 10px 13px 10px 12px;
  }
}