 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("images/FLAAQ.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 767px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  margin: 486px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 397px 60px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 35.29%;
    background-size: 140%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 632px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
    margin-top: 335px;
  }

  .u-section-1 .u-text-2 {
    width: 346px;
    margin-top: 34px;
    margin-left: 297px;
    margin-right: 297px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 484px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 187px;
    margin-right: 187px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 363px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    margin-left: 97px;
    margin-right: 97px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 373px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: 166px;
    margin-top: 179px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: auto;
    margin-bottom: 38px;
    margin-left: 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 199px;
}

.u-section-2 .u-text-1 {
  font-weight: 900;
  margin: 60px auto;
}.u-block-547f-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-547f-3 {
  position: absolute;
  left: 0;
  width: 65px;
  height: 65px;
  padding: 7px;
}

.u-block-547f-4 {
  position: absolute;
  width: 65px;
  height: 65px;
  left: auto;
  right: 0;
  padding: 7px;
}

 .u-section-3-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/MehdimaSl_099.jpg");
  background-position: 50% 50%;
}

.u-section-3-1 .u-sheet-1 {
  min-height: 747px;
}

.u-section-3-1 .u-text-1 {
  font-size: 3rem;
  margin: 29px 426px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 616px;
  }

  .u-section-3-1 .u-text-1 {
    width: 837px;
    margin-right: 226px;
  }
}

@media (max-width: 991px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 472px;
  }

  .u-section-3-1 .u-text-1 {
    width: auto;
    margin-left: 29px;
    margin-right: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 354px;
  }

  .u-section-3-1 .u-text-1 {
    font-size: 1.75rem;
    margin-left: 18px;
    margin-right: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-3-1 .u-text-1 {
    font-size: 1.125rem;
    margin-left: 23px;
    margin-right: 23px;
  }
}

 .u-section-3-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/maqasbejal.jpg");
  background-position: 50% 50%;
}

.u-section-3-2 .u-sheet-1 {
  min-height: 747px;
}

.u-section-3-2 .u-text-1 {
  font-size: 3rem;
  margin: 38px 416px 60px 11px;
}

@media (max-width: 1199px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 616px;
  }

  .u-section-3-2 .u-text-1 {
    width: 837px;
    margin-left: 0;
    margin-right: 226px;
  }
}

@media (max-width: 991px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 472px;
  }

  .u-section-3-2 .u-text-1 {
    width: auto;
    margin-left: 29px;
    margin-right: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 354px;
  }

  .u-section-3-2 .u-text-1 {
    margin-left: 18px;
    margin-right: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-3-2 .u-text-1 {
    font-size: 1.125rem;
    margin-left: 23px;
    margin-right: 23px;
  }
}

 .u-section-3-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/Smuzi.jpg");
  background-position: 50% 10.04%;
}

.u-section-3-3 .u-sheet-1 {
  min-height: 747px;
}

.u-section-3-3 .u-text-1 {
  font-size: 3rem;
  margin: 38px 416px 60px 11px;
}

@media (max-width: 1199px) {
  .u-section-3-3 .u-sheet-1 {
    min-height: 616px;
  }

  .u-section-3-3 .u-text-1 {
    width: 837px;
    margin-left: 0;
    margin-right: 226px;
  }
}

@media (max-width: 991px) {
  .u-section-3-3 .u-sheet-1 {
    min-height: 472px;
  }

  .u-section-3-3 .u-text-1 {
    width: auto;
    margin-left: 29px;
    margin-right: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-3-3 .u-sheet-1 {
    min-height: 354px;
  }

  .u-section-3-3 .u-text-1 {
    margin-left: 18px;
    margin-right: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-3-3 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-3-3 .u-text-1 {
    font-size: 1.125rem;
    margin-left: 23px;
    margin-right: 23px;
  }
}

 .u-section-3-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/MaqaIney.jpg");
  background-position: 50% 50%;
}

.u-section-3-4 .u-sheet-1 {
  min-height: 747px;
}

.u-section-3-4 .u-text-1 {
  font-size: 3rem;
  margin: 38px 416px 60px 11px;
}

@media (max-width: 1199px) {
  .u-section-3-4 .u-sheet-1 {
    min-height: 616px;
  }

  .u-section-3-4 .u-text-1 {
    width: 837px;
    margin-left: 0;
    margin-right: 226px;
  }
}

@media (max-width: 991px) {
  .u-section-3-4 .u-sheet-1 {
    min-height: 472px;
  }

  .u-section-3-4 .u-text-1 {
    width: auto;
    margin-left: 29px;
    margin-right: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-3-4 .u-sheet-1 {
    min-height: 354px;
  }

  .u-section-3-4 .u-text-1 {
    margin-left: 18px;
    margin-right: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-3-4 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-3-4 .u-text-1 {
    font-size: 1.125rem;
    margin-left: 23px;
    margin-right: 23px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 332px;
}

.u-section-4 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  grid-gap: 10px 10px;
  min-height: 272px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  width: 138px;
  margin: 31px auto 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 1px 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-3 {
  width: 138px;
  margin: 31px auto 0;
}

.u-section-4 .u-text-4 {
  margin: 20px 1px 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-text-5 {
  width: 138px;
  margin: 31px auto 0;
}

.u-section-4 .u-text-6 {
  margin: 20px 1px 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-text-7 {
  width: 138px;
  margin: 31px auto 0;
}

.u-section-4 .u-text-8 {
  margin: 20px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 262px;
  }

  .u-section-4 .u-list-1 {
    height: auto;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 245px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 31px;
    margin-bottom: 31px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 499px;
  }

  .u-section-4 .u-list-1 {
    margin-top: -59px;
    margin-bottom: -59px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 841px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 22px;
    margin-bottom: 22px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}