 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 970px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1165px;
  margin: 61px -12px 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 743px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 23px 46px 0 30px;
}

.u-section-1 .u-text-2 {
  line-height: 2;
  font-size: 1rem;
  margin: 22px 9px 0 22px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 743px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 527px;
  height: 283px;
  margin: -80px auto 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 3rem;
  font-weight: 700;
  margin: -22px 29px 0 21px;
}

.u-section-1 .u-line-1 {
  transform-origin: right center 0px;
  width: 525px;
  margin: -85px auto 0 29px;
}

.u-section-1 .u-gallery-1 {
  height: 453px;
  grid-gap: 17px 17px;
  width: 514px;
  margin: 102px auto -10px 23px;
}

.u-section-1 .u-gallery-inner-1 {
  grid-template-columns: auto auto;
  grid-gap: 17px 17px;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 831px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 449px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 600px;
  }

  .u-section-1 .u-image-1 {
    width: 459px;
    height: 246px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 15px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-line-1 {
    width: 459px;
    margin-left: 0;
  }

  .u-section-1 .u-gallery-1 {
    height: 405px;
    width: 459px;
    margin-left: 0;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1609px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 36px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 919px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 1534px;
  }

  .u-section-1 .u-image-1 {
    width: 349px;
    height: 187px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 49px;
  }

  .u-section-1 .u-line-1 {
    transform-origin: left center 0px;
    width: 349px;
    margin-top: -119px;
  }

  .u-section-1 .u-gallery-1 {
    height: 1276px;
    margin-top: 116px;
    margin-bottom: -24px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 452px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 1469px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -77px;
    margin-left: 76px;
  }

  .u-section-1 .u-text-3 {
    font-size: 2.25rem;
    margin-top: 23px;
  }

  .u-section-1 .u-line-1 {
    margin-top: -92px;
    margin-right: 83px;
    margin-left: auto;
  }

  .u-section-1 .u-gallery-1 {
    margin-top: 112px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 561px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 1426px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 182px;
    margin-left: -22px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-line-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-gallery-1 {
    height: 1244px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}